.button {
  background-color: var(--button-background-color);
  border-radius: 1.25rem;
  filter: drop-shadow(0 .25rem .25rem hsla(0, 0%, 0%, 0.25));
  width: 16.4375rem;
  height: 3.75rem;
}

.button:hover {
  background-color: hsl(44, 100%, 62%);
}

.button .text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: 400 1.5rem 'Playpen Sans', sans-serif;
  color: var(--text-color);
}
