@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&display=swap');

:root {
  font-family: "Playpen Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsla(0, 0%, 100%, 0.87);
  background-color: hsl(0, 0%, 14%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, #root {
  min-height: 100vh;
}

@media screen and (max-height: 900px) {
  html {
    font-size: 14px;
  } 
}
