.custom-select-container {
  width: 8rem; /*12.5*/
  position: relative;
}

.custom-select-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--border-color);
  padding: 0.25rem 1rem;
  cursor: pointer;
  background-color: hsl(19, 48%, 79%);
  border-radius: 1rem;
}

.custom-select-options {
  border: 2px solid var(--border-color);
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.102);
  background-color: hsl(19, 48%, 79%);
  border-radius: 1rem;
}

.custom-select-options :last-child{
  border-bottom: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.custom-select-options :first-child{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.custom-select-option {
  border-bottom: 1px solid hsla(0, 0%, 34%, 0.4);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.custom-select-option:hover {
  background-color: hsl(19, 48%, 85%);
}
