.root {
  width: fit-content;
  background-color: var(--table-background-color);
  color: hsl(93, 12%, 29%);
  z-index: 2;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 1.5rem 3rem;
  border-radius: 1.25rem;
}

.orders-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.orders-header h2 {
  flex: 1;
  text-align: center;
}

.table {
  max-height: 20rem;
  display: grid;
  width: 100%;
  overflow-y: auto;
  border-collapse: collapse;
}

.row {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 1.25fr;
  border-bottom: 1px solid #000;
}

.row div {
  padding: 0.125rem;
  border-right: 1px solid #000;
  cursor: pointer;
}

.row div:last-child {
  border-right: none;
}

.columnHeader {
  border-top: 1px solid #000;
  font-weight: bold;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: var(--table-background-color);
}