.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 400 1.5rem 'Playpen Sans', sans-serif;
  color: var(--text-color);
  padding: 1rem .2rem;
}

.root img {
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
  
}

.text {
  max-width: 10.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  display: none;
}

.info:hover {
  display: block;
  z-index: 1;
  position: absolute;
}
